@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --color-blanco: #ffffff;
  --color-negro: #212429;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

strong,
b {
  font-weight: 700;
}

h1, h2, h3 {
  font-weight: 700;
}

.titulo {
  font-size: 32px;
}
.card {
  font-size: 14px;
  margin: 32px;
  margin-bottom: 0;
}

.card img {
  border-radius: 10px;
}
.container {
  max-width: 1280px;
  margin: 120px auto 64px;
  padding: 0 16px;
}

.card-container {
  margin: 0 auto;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.descripcion-precio {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}